.leaflet-container {
  background: #262626;
}

body {
  padding: 0;
  margin: 0;
}

.toolbar {
  color: white;
  position: fixed;
  display: flex;
  bottom: 2%;
  left: 2%;
  z-index: 1000;
}

.toolbarbutton {
  height: 3rem;
  width: 3rem;
  /* border-radius: 50%; */
}

.toolbarbutton:hover {
  height: 3rem;
  width: 3rem;
  background-color: rgb(100, 100, 100);
  transition: 0.7s;
  border-radius: 50%;
}

.toolbardarkmode {
  height: 3rem;
  width: 3rem;
  /* border-radius: 50%; */
}

.toolbardarkmode:hover {
  height: 3rem;
  width: 3rem;
  background-color: rgb(100, 100, 100);
  transition: 0.7s;
  border-radius: 50%;
}
