.leaflet-container {
  background: #262626;
}

body {
  padding: 0;
  margin: 0;
}

.toolbarcontainer {
  color: white;
  display: flex;
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 1000;
}

.toolbarbutton {
  background-color: white;
  color: black;
}

.lightdark {
  height: 5%;
  width: 8%;
  /* border-radius: 50%; */
}

.lightdark:hover {
  height: 5%;
  width: 8%;
  background-color: rgb(100, 100, 100);
  transition: 0.7s;
  border-radius: 50%;
}
